body {
	background: black;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 12px;
}

p {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}

.postcard {
	background: white;
	width: 450px;
	height: 330px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header h1 {
	width: 100%;
	margin: 12px;
	margin-top: 18px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-style: oblique;
	font-size: 30px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	padding: 10px;
}
.postcard-body {
	display: flex;
}
input {
	border: none;
	border-bottom: 1px grey solid;
	color: white;
	background-color: black;
	margin-bottom: 3px;
}

button {
	/*--This is my initial code, but I decided to go with the gradient to make it different--
	--START--
	background-color: black;
	color: white;
	--END--*/
	background-image: linear-gradient(grey, white);
	padding: 10px 15px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
}
.postcard-footer {
	text-align: center;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
